@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANYekan300";
  src: url("../_fonts/IRANYekanLight.eot");
  src: url("../_fonts/IRANYekanLight.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/IRANYekanLight.woff") format("woff"),
    url("../_fonts/IRANYekanLight.woff2") format("woff2"),
    url("../_fonts/IRANYekanLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan400";
  src: url("../_fonts/iranyekanwebregular.eot");
  src: url("../_fonts/iranyekanwebregular.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/iranyekanwebregular.woff") format("woff"),
    url("../_fonts/iranyekanwebregular.woff2") format("woff2"),
    url("../_fonts/iranyekanwebregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan500";
  src: url("../_fonts/iranyekanwebmediumfanum.eot");
  src: url("../_fonts/iranyekanwebmediumfanum.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/iranyekanwebmediumfanum.woff") format("woff"),
    url("../_fonts/iranyekanwebmediumfanum.woff2") format("woff2"),
    url("../_fonts/iranyekanwebmediumfanum.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan700";
  src: url("../_fonts/IRANYekanBold.eot");
  src: url("../_fonts/IRANYekanBold.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/IRANYekanBold.woff") format("woff"),
    url("../_fonts/IRANYekanBold.woff2") format("woff2"),
    url("../_fonts/IRANYekanBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AnjomanMax500";
  src: url("../_fonts/AnjomanMaxFN-Medium.woff") format("woff"),
    url("../_fonts/AnjomanMaxFN-Medium.woff2") format("woff2"),
    url("../_fonts/AnjomanMaxFN-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AnjomanMax400";
  src:
    url("../_fonts/AnjomanMax-Medium.woff") format("woff"),
    url("../_fonts/AnjomanMax-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AnjomanMax600";
  src:
    url("../_fonts/AnjomanMax-Black.woff") format("woff"),
    url("../_fonts/AnjomanMax-Black.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "IRANYekan400";
}

h1 {
  font-size: 24px;
  font-family: "IRANSansWeb700";
  line-height: 26px;
}
h2 {
  font-size: 20px;
  font-family: "IRANSansWeb700";
  line-height: 26px;
}
h3 {
  font-size: 18px;
  font-family: "IRANSansWeb500";
  line-height: 25px;
}
h4,
h5 {
  font-size: 16px;
  font-family: "IRANSansWeb400";
  line-height: 24px;
}
h6 {
  font-size: 14px;
  font-family: "IRANSansWeb300";
  line-height: 22px;
}
a {
  font-size: 14px;
  font-family: "IRANSansWeb500";
  line-height: 24px;
}
.pause {
  opacity: 1;
}

.play {
  opacity: 0;
  display: none;
}
.collapse{
  
  visibility: unset !important;

}

html{
  font-size: unset !important;
}
a{
  text-decoration: none !important;
}
.gallerySliderPagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.gallerySliderPagination .swiper-pagination-bullet {
  width: 4.2px;
  height: 13.83px;
  border-radius: 30px;
  margin: 0 !important;
  opacity: 1;
  background-color: #6d6e73;
  transition: 0.8s;
}
.gallerySliderPagination .swiper-pagination-bullet-active {
  height: 23.11px;
  background-color: #f9920b;
}

.serviceListSlider .swiper-slide-active h3 {
  transform: translateY(0) !important;
}

.activeFilterBtn {
  color: #f9920b !important;
}

.share__wrapper,
.social-link {
  height: 32px;
  width: 32px;
  position: absolute;
  cursor: pointer;
}

.share__wrapper--open-left {
  bottom: 15px;
  left: 5%;
}

.toggle-button {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.toggle-button:focus {
  outline: 0;
}
.toggle-button:before,
.toggle-button:after {
  content: "";
  position: absolute;
}
.toggle-button:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: url('data:image/svg+xml;charset=US-ASCII,<svg width="23" height="25" viewBox="0 0 23 25" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-11 -11) translate(12 12)" stroke="#fff" stroke-width="2" fill="none"><ellipse id="Oval-5" cx="3.652" cy="11.5" rx="3.652" ry="3.538"/><ellipse id="Oval-5" cx="17.348" cy="3.538" rx="3.652" ry="3.538"/><ellipse cx="17.348" cy="19.462" rx="3.652" ry="3.538"/><path d="M6.592 13.25l7.602 4.585"/><path d="M6.719 9.917l7.657-4.452"/></g></svg>') center/auto no-repeat; */
  transition: all 0.2s ease;
}
/* 
.toggle-button--active:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><g fill="#fff"><path d="M1.516.102l18.382 18.382-1.414 1.414-18.382-18.382zM19.898 1.516l-18.382 18.382-1.414-1.414 18.382-18.382z"/></g></svg>');
} */

.social-link {
  visibility: hidden;
  transition: all 0.1s ease;
}
.social-link:nth-child(1) {
  left: -132px;
}
.social-link:nth-child(2) {
  left: -66px;
}
.social-link:nth-child(3) {
}

.share__wrapper--open-left .social-link {
  animation: 0.1s right forwards;
  opacity: 0;
  will-change: animation;
}
.share__wrapper--open-left .social-link:nth-child(1) {
  left: 170px;
}
.share__wrapper--open-left .social-link:nth-child(2) {
  left: 130px;
}
.share__wrapper--open-left .social-link:nth-child(3) {
  left: 90px;
}

.share__wrapper--active .social-link {
  visibility: visible;
  animation: 0.1s left forwards;
}
.share__wrapper--active .social-link:nth-child(1) {
  animation-delay: 0.075s;
}
.share__wrapper--active .social-link:nth-child(2) {
  animation-delay: 0.05s;
}

@keyframes shareClose {
  0% {
    opacity: 0;
    transform: rotateY(0);
  }
  100% {
    opacity: 1;
    transform: rotateY(360deg);
  }
}
@keyframes left {
  50% {
    transform: translateX(-170%);
  }
  100% {
    opacity: 1;
    transform: translateX(-130%);
  }
}
@keyframes right {
  0% {
    transform: translateX(-130%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(0);
    left: 0;
  }
}

.visually-hidden {
  position: absolute;
  left: 9999px;
  width: 1px;
  height: 1px;
}

.social-link a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activeCAtbox {
  z-index: 1;
  opacity: 1;
}

.CategoriesScrollbar .swiper-scrollbar-drag {
  background-color: #f9920b;
}
.relProScrollbar .swiper-scrollbar-drag {
  background-color: #f9920b;
}



.CategoriesSlider .swiper-slide {
  width: fit-content !important;
}
.clientSldier .swiper-slide {
  width: fit-content !important;
}


.home .section6 .swiper-pagination-bullet {
  width: 1px;
  height: 17px;
  border-radius: 0;
  margin: 0 !important;
  opacity: 1;
  background-color: #161617;
  transition: 0.8s;
}
.home .section6 .swiper-pagination-bullet-active {
  height: 25px;
  width: 3px;
  background-color: #f9920b;
}

.aboutUS-Mobile .swiper-gallery .swiper-slide .IMG{
  transform: scale(.9);
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}
.aboutUS-Mobile .Section-6 .Gallerys{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutUS-Mobile .paginations .swiper-pagination-bullet {
  width: 1px;
  background-color: #6D6E73;
  height: 20px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  margin: auto;
  opacity: 1 !important;
  margin: 3px !important;
}
.aboutUS-Mobile .paginations .swiper-pagination-bullet-active {
  background-color: #f9920b !important;
  height: 25px !important;
  width: 3px !important;
}
.aboutUS-Mobile .swiper-gallery .swiper-slide-active .IMG{
transform: scale(1.2);
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-ms-transform: scale(1.2);
-o-transform: scale(1.2);
transition: all .5s ease;
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-ms-transition: all .5s ease;
-o-transition: all .5s ease;
}
.ProductCat-Mobile header,
.Product-List-Mobile header,
.ProductShow header,
.articleList-Mobile header,
.articleShowMobile header,
.Search-Container header,
.page header{
    background-color: #4C515A;

}
header .Menu-Container{
    background: #ffffff;

}
.paginations .swiper-button-prev::before,
  .paginations .swiper-button-prev::after,
 .paginations .swiper-button-next::before,
  .paginations .swiper-button-next::after{
content: unset;
  }
  .paginations .swiper-pagination-bullet{
    width: 4px;
    background-color: #6D6E73;
    height: 13px ;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    margin: auto;
    opacity: 1 !important;
}
.paginations .swiper-pagination-bullet-active{
  background-color: #f9920b !important;
  height: 18px !important;
}
.zoomist-in-zoomer, .zoomist-out-zoomer{
  border: 1px solid #6D6E73;
}
.zoomist-zoomer{
  display: flex;
  flex-direction: row;
  gap: .2em;
}
.zoomist-zoomer {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  border-radius: 0 0 0 5px;
  overflow: hidden;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
}
