@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANYekan300";
  src: url("../_fonts/IRANYekanLight.eot");
  src: url("../_fonts/IRANYekanLight.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/IRANYekanLight.woff") format("woff"),
    url("../_fonts/IRANYekanLight.woff2") format("woff2"),
    url("../_fonts/IRANYekanLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan400";
  src: url("../_fonts/iranyekanwebregular.eot");
  src: url("../_fonts/iranyekanwebregular.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/iranyekanwebregular.woff") format("woff"),
    url("../_fonts/iranyekanwebregular.woff2") format("woff2"),
    url("../_fonts/iranyekanwebregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan500";
  src: url("../_fonts/iranyekanwebmediumfanum.eot");
  src: url("../_fonts/iranyekanwebmediumfanum.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/iranyekanwebmediumfanum.woff") format("woff"),
    url("../_fonts/iranyekanwebmediumfanum.woff2") format("woff2"),
    url("../_fonts/iranyekanwebmediumfanum.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan700";
  src: url("../_fonts/IRANYekanBold.eot");
  src: url("../_fonts/IRANYekanBold.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/IRANYekanBold.woff") format("woff"),
    url("../_fonts/IRANYekanBold.woff2") format("woff2"),
    url("../_fonts/IRANYekanBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AnjomanMax500";
  src: url("../_fonts/AnjomanMaxFN-Medium.woff") format("woff"),
    url("../_fonts/AnjomanMaxFN-Medium.woff2") format("woff2"),
    url("../_fonts/AnjomanMaxFN-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "IRANYekan400";
}

h1 {
  font-size: 24px;
  font-family: "IRANSansWeb700";
  line-height: 26px;
}
h2 {
  font-size: 20px;
  font-family: "IRANSansWeb700";
  line-height: 26px;
}
h3 {
  font-size: 18px;
  font-family: "IRANSansWeb500";
  line-height: 25px;
}
h4,
h5 {
  font-size: 16px;
  font-family: "IRANSansWeb400";
  line-height: 24px;
}
h6 {
  font-size: 14px;
  font-family: "IRANSansWeb300";
  line-height: 22px;
}
a {
  font-size: 14px;
  font-family: "IRANSansWeb500";
  line-height: 24px;
}
.pause {
    opacity: 1;
  }
  
  .play {
    opacity: 0;
    display: none;
  }
  

  
.gallerySliderPagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.gallerySliderPagination .swiper-pagination-bullet {
  width: 4.2px;
  height: 13.83px;
  border-radius: 30px;
  margin: 0 !important;
  opacity: 1;
  background-color: #6d6e73;
  transition: 0.8s;
}
.gallerySliderPagination .swiper-pagination-bullet-active {
  height: 23.11px;
  background-color: #f9920b;
}

.serviceListSlider .swiper-slide-active h3{
  transform: translateY(0)!important;
}

.activeFilterBtn{
  color: #F9920B!important;
}